<html>
{{template "header.tmpl.html"}}

<body>
  {{template "nav.tmpl.html"}}

  <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="/static/lang-logo.png">
      </a>
      <h2>Liam</h2>
      <p>Bulk Email Address Verifier</p>

    </div>
  </div>
  <div class="container">

    <form action="/result" method="post" class="form-inline text-center">
      <div class="form-group mb-2 mr-sm-auto">
        <!-- <input rows="3" type="textarea" name="msg" class="form-control input-lg" placeholder="enter email address"> -->
        <textarea cols="50" rows="3" name="emails" class="form-control input-lg" placeholder="Enter email addresses"></textarea>
      </div>

      <div class="form-check form-check-inline mb-2 mr-sm-2">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioComma">
        <label class="form-check-label" for="flexRadioDefault1">
          Comma
        </label>
      </div>
      <div class="form-check form-check-inline mb-2 mr-sm-2">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioSemiColon" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Semi-colon
        </label>
      </div>
      <div class="form-check form-check-inline mb-2 mr-sm-auto">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioNewline" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Newline
        </label>
      </div>

      <button type="submit" value="submit" class="btn btn-primary mb-2">Submit</button>
    </form>




    <hr>
    <div class="row">
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
        <ul>
          <li>This app was deployed</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
        <ul>
          <li>If you are following</li>
        </ul>
      </div>
    </div> <!-- row -->
    
    <div class="alert alert-info text-center" role="alert">
      Looking for a specific feature, create an issue on Github.
    </div>
  </div>


</body>

</html>